<div class="row">
    <div class="col-xs-12">
        <form #shoppinglistForm="ngForm"  (ngSubmit)="submit()">
            <div class="row">
                <div class="col-sm-5" form-group>
                    <label for="name">Name</label>
                    <input type="text"
                     id="name" 
                     name="name"
                     class="form-control"
                     #nameInput="ngModel"
                     [(ngModel)]="name"
                     [ngModelOptions]="{standalone: true}">
                </div>
                <div class="col-sm-2" form-group>
                    <label for="amount">Amount</label>
                    <input type="number"
                     id="amount" 
                     name="amount"
                     class="form-control"
                     #amountInput="ngModel"
                     [(ngModel)]="amount"
                     [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 ">
                    <button class="btn btn-success m-3"  >Add</button>
                    <button class="btn btn-danger m-3" type="button">Delete</button>
                    <button class="btn btn-primary m-3" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
